In [1]:
import pandas as pd
import os
import pickle


from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

from sklearn.metrics import r2_score, mean_squared_error

In [2]:
def read_data():

    df = pd.read_csv("sources/emisiones.csv")

    return df

In [3]:
df = read_data()

In [4]:
drop_columns = ["Make", "Model", "Vehicle Class", "Transmission", "Fuel Consumption Hwy",
                "Fuel Consumption Comb", "Fuel Consumption Comb (mpg)"]

df.drop(drop_columns, axis = 1, inplace = True)

df

,Model Year,Engine Size,Cylinders,Fuel Type,Fuel Consumption City,CO2 Emissions
0,1995,1.8,4.0,Reg. Gasoline,11.6,232
1,1995,1.8,4.0,Reg. Gasoline,11.0,225
2,1995,1.8,4.0,Prm. Gasoline,10.8,223
3,1995,3.2,6.0,Prm. Gasoline,14.2,288
4,1995,3.2,6.0,Prm. Gasoline,14.6,299
...,...,...,...,...,...,...
26209,2022,2.0,4.0,Prm. Gasoline,10.7,219
26210,2022,2.0,4.0,Prm. Gasoline,10.5,219
26211,2022,2.0,4.0,Prm. Gasoline,11.0,232
26212,2022,2.0,4.0,Prm. Gasoline,11.5,236
26213,2022,2.0,4.0,Prm. Gasoline,12.4,252

In [5]:
df["Fuel Consumption City"].unique()

array([11.6, 11. , 10.8, 14.2, 14.6, 15. , 15.1, 14.5, 17.4, 15.4, 13.6,
       13.9, 14.3, 14.9, 24.7, 24.9, 25.1, 25.3, 12.8, 12.2, 12. , 13.3,
       13.4, 13.7, 16. , 16.6, 15.2, 18. , 16.1, 18.9, 11.3, 12.3, 15.6,
       12.9, 18.8, 16.8, 17.2, 17. , 17.9, 11.5, 15.9, 17.8, 20.4, 21.9,
       20.5, 14.8, 20. , 16.5, 16.3, 18.5, 20.8, 20.7, 15.5, 16.4, 13.5,
       19.3, 18.3, 17.7, 18.2, 19.5, 21.4, 20.3, 23.1, 16.7, 15.7, 17.3,
       23.3, 22.7, 19.6, 21.6, 16.2, 12.1, 17.1, 11.8, 11.1, 11.9, 13.2,
       15.3, 13.1,  9.4,  8.3, 10.3, 10.2, 11.7, 19.7, 22.2,  9.6, 10. ,
       19.8, 19.9, 22.1, 21.5, 22.4, 20.1, 21.2, 21.1, 20.6, 24.1, 12.6,
       14.7, 13.8, 10.6, 13. , 25.5, 26.1,  9.3,  7.7, 19.1, 18.4, 21.8,
       10.5,  9.2, 17.6, 18.7, 14. , 14.4,  6.5,  7.6, 22.9, 10.9, 12.5,
        9.8,  7.8,  9.7, 19. , 10.4,  8.9,  9.5,  9.1, 10.1, 11.4, 12.7,
        9.9, 11.2,  8.8,  8.2,  8.4, 23.2, 22.3, 18.6, 18.1, 21.3, 20.2,
       23.4, 23. , 15.8,  8.1, 16.9, 19.4, 22. , 21. , 23.7, 28.3, 25.7,
        8.7,  7. ,  7.4, 26.7, 26.3, 22.8,  7.2,  7.1, 28.5, 21.7,  6.7,
       24.6, 30.2,  4.9,  8.6,  8.5,  8. ,  5.5,  6.8, 26.5, 23.5, 25.9,
       25.2, 23.6, 27.1, 33.3,  6. , 22.5, 23.9,  7.9,  5. , 29.1, 27.3,
       25.4, 27. , 24.2,  6.3,  5.7,  5.8, 24.5, 25. , 28. , 24. , 23.8,
        6.9, 30. ,  5.9,  6.1,  7.5,  4.7, 30.3, 26.6, 12.4, 25.8, 30.4,
       24.4,  5.4,  6.6,  4.5,  5.3, 14.1, 17.5,  6.2, 19.2,  5.6,  9. ,
       10.7,  6.4,  4.6, 30.6,  7.3, 20.9, 24.3,  4.4,  4.8,  4.3,  4.2,
        5.1, 26.8, 27.2, 26.2, 28.1,  4. , 27.9])

In [6]:
resultados = list()

for fuel_type in sorted(df["Fuel Type"].unique()):
    
    df_ = df[df["Fuel Type"] == fuel_type].drop("Fuel Type", axis = 1)
    
    X = df_.drop("CO2 Emissions", axis = 1)
    y = df_[["CO2 Emissions"]]
    
    X_scaler = MinMaxScaler()
    X = X_scaler.fit_transform(X)
    
    y_scaler = MinMaxScaler()
    y = y_scaler.fit_transform(y)
    
    X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)
    
    model = RandomForestRegressor()
    model.fit(X_train, y_train)
    
    yhat = model.predict(X_test)
    
    r2 = r2_score(y_test, yhat)
    mse = mean_squared_error(y_test, yhat)
    
    print(fuel_type)
#     print(model.coef_)
#     print(model.intercept_)
    print(r2)
    print(mse)
    print("*"*100)
    
    #######
    
    resultados.append([fuel_type, r2, mse])
    
    #######
    # X_scaler
    with open(file = f"x_scaler_{fuel_type.replace(' ', '_')}.pkl", mode = "wb") as file:
        pickle.dump(X_scaler, file)
    
    # y_scaler
    with open(file = f"y_scaler_{fuel_type.replace(' ', '_')}.pkl", mode = "wb") as file:
        pickle.dump(y_scaler, file)
    
    # Model
    with open(file = f"model_{fuel_type.replace(' ', '_')}.pkl", mode = "wb") as file:
        pickle.dump(model, file)

C:\Users\danie\anaconda3\Lib\site-packages\sklearn\base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

Diesel
0.9964558545180406
0.00021742139669457417
****************************************************************************************************

C:\Users\danie\anaconda3\Lib\site-packages\sklearn\base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

Ethanol (E85)
0.9948443617150509
0.00017097950131547468
****************************************************************************************************

C:\Users\danie\anaconda3\Lib\site-packages\sklearn\base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

Natural Gas
0.9314946509702475
0.007198451703511796
****************************************************************************************************

C:\Users\danie\anaconda3\Lib\site-packages\sklearn\base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

Prm. Gasoline
0.993874827946618
9.412821392684273e-05
****************************************************************************************************

C:\Users\danie\anaconda3\Lib\site-packages\sklearn\base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

Reg. Gasoline
0.9947000881324849
0.00013276760178466558
****************************************************************************************************

In [7]:
df_metricas = pd.DataFrame(data = resultados, columns = ["Fuel Type", "r2", "MSE"])
df_metricas

       Fuel Type        r2       MSE
0         Diesel  0.996456  0.000217
1  Ethanol (E85)  0.994844  0.000171
2    Natural Gas  0.931495  0.007198
3  Prm. Gasoline  0.993875  0.000094
4  Reg. Gasoline  0.994700  0.000133

In [8]:
df_metricas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Fuel Type  5 non-null      object
 1   r2         5 non-null      float64
 2   MSE        5 non-null      float64
dtypes: float64(2), object(1)
memory usage: 252.0+ bytes

In [9]:
df_metricas.to_csv("metrics.csv", index = False)

In [10]:
################################################################################################################################